@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/slick-carousel/slick/slick";
@import "../bower_components/slick-carousel/slick/slick-theme";
@import "../bower_components/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css";
@import "variables";
@import "elements/fonts";
@import "elements/navbar";
@import "elements/typography";
@import "elements/buttons";
@import "elements/input";
@import "elements/treelist";
@import "elements/blocks";

html, body {
  height: 100%;
}

body {
  background-color: @color-bg;
}

input:focus, button:focus {
  outline: 0;
}

.main-content {
  padding: @spacing*2 @spacing*4 @spacing*4 @spacing*4;
  @media screen and (max-width: @screen-sm) {
    padding: @spacing*2 @spacing/2 @spacing*4 @spacing/2;
  }
}

.container-fluid {
  > .row {
    margin-left: 0;
    margin-right: 0;
  }
}

ul {
  &.level-one {
    font-size: ceil(@font-size-base * 1.25);
    list-style: none;
    padding: 0;
  }
  &.level-two {
    list-style: none;
    border-left: solid 4px lighten(@color-primary, 60%);
    padding-left: @spacing;
    margin-top: @spacing/2;
    margin-left: @spacing;
  }
}

.products-grid {
  .product {
    min-height: 170px;
    margin-bottom: @spacing;
    background-color: darken(white, 6%);
    border-radius: 2px;
    img {
      width: 100%;
      height: 180px;
      object-fit: contain;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }

    h5, a, .title {
      font-size: 15px;
    }

    .info {
      min-height: 100px;
    }

    .product-view {
      min-height: 170px;
      padding: @spacing @spacing/2;
      text-align: center;
      .title {
        font-weight: 600;
        margin: 0;
      }
    }
  }

  &.car {
    .product {
      img {
        height: 250px;
      }
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.product-detail {
  margin-top: @spacing;

  .slider-for {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .slider-nav {
    width: 100%;

    img {
      width: 150px;
      height: 100px;
      object-fit: cover;
      margin: @spacing/2;
    }

    .slick-current {

      img {
        transition: all 0.1s;
        border: solid 3px @color-primary;
      }
    }
  }
}

.purchase-box {
  color: @text-color;
  background-color: darken(white, 6%);
  padding: @spacing*1.5;
  border-radius: 2px;
  margin-top: @spacing*1.5;

  .bootstrap-touchspin {
    width: 130px;
    float: left;
    margin-right: 5px;
    margin-bottom: 1px;
    text-align: center;

    input {
      text-align: center;
    }
  }
}

.cart-table {
  margin-bottom: 0;

  tbody > tr > td, tbody > tr > th {
    border: 0;
    padding: 10px 10px 10px 0;
  }
  tbody > tr > th {
    border-bottom: 1px solid @gray-lighter;
  }

  .item-delete {
    a {
      color: @color-primary;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-size: @spacing*1.5;
    }
  }
  .item-thumbnail {
    img {
      width: 58px;
      height: 58px;
      object-fit: cover;
      border-radius: 2px;
    }
  }
  .item-row {
    td {
      padding: @spacing/2 @spacing @spacing/2 0;
      vertical-align: middle;
    }
  }
  .item-quantity {
    .item-qty {
      width: 60px;
      height: @spacing*2;
    }
  }

  .item-price, .item-total-price, .item-price-head, .item-total-price-head {
    text-align: right;
  }

  @media screen and (max-width: @screen-sm) {
    tbody {
      tr:nth-child(odd) {
        border-bottom: 1px dashed @gray-lighter;
        border-top: 1px dashed @gray-lighter;
      }

      tr:last-child {
        border-bottom: none;
      }

      tr:first-child {
        left: -9999px;
        position: absolute;
        top: -9999px;
      }

      .item-delete {
        left: 0;
        position: relative;
        top: 10px;
        width: 20px;
        vertical-align: top;
      }

      .item-thumbnail {
        vertical-align: top;
      }

      .item-info {
        min-height: 60px;
        min-width: 190px;
        padding-top: 10px;
        clear: left;
        float: left;
      }

      .item-code {
        clear: left;
        float: left;
        margin-top: @spacing/2;

        &:before {
          content: "Item Code";
          padding-right: @spacing;
          white-space: nowrap;
          text-align: right;
          margin-left: @spacing*-4.8;
          display: inline-block;
        }
      }
      .item-quantity {
        padding: 0;
        //width: 60px;
        clear: both;
        float: left;

        &:before {
          content: "Quantity";
          padding-right: @spacing;
          position: relative;
          white-space: nowrap;
          padding-top: @spacing/2;
          padding-bottom: @spacing/2;
          margin-left: @spacing*-4.8;
          text-align: right;
          float: left;
        }

        .bootstrap-touchspin {
          float: left;
        }
      }

      .item-price, .item-total-price {
        display: inline-block;
        font-size: 16px;
        vertical-align: bottom;
        width: 100%;
        clear: left;
        float: left;
      }

      .item-price:before {
        content: "Price";
        margin-right: @spacing;
      }
      .item-total-price:before {
        content: "Total price";
        margin-right: @spacing;
      }
    }
  }
}

.receipt-container {
  border-top: 1px solid @gray-lighter;
  padding: @spacing*1.5 0 0;
}

.receipt-wrapper {
  background: @gray-lighter;
  border-radius: 2px;
  padding: @spacing/2;
  color: @text-contrast-color;

  .receipt-total {
    font-size: 24px;
    font-weight: 600;
  }

  td:last-child {
    text-align: right;
  }

  tbody > tr > td {
    border: 0;
  }

  table {
    margin-bottom: 0;
  }

  .receipt-conclusion {
    margin-top: @spacing;
    text-align: right;
  }
}

/*ol, ul {
  list-style: none;
}*/

.treelist {
  list-style: none;
  ol, ul {
    list-style: none;
  }
}

.sidebar {
  a {
    font-size: 18px;
  }
}

.address-list {
  margin-bottom: @spacing;
  padding: 0;

  li {
    margin-bottom: 20px;
    padding: 10px;
    background: darken(white, 6%);
    border-radius: 2px;
    color: @gray-light;

    @media (min-width: @screen-sm) {
      display: table;
      float: left;
      width: 280px;
      margin-right: 20px;
    }
  }

}

.banner-top {
  -webkit-box-shadow: inset 0 -4px 0 0 lighten(@heading-border-color, 14%);
  box-shadow: inset 0 -4px 0 0 lighten(@heading-border-color, 14%);
}

.large-banner {
  text-align: center;
  background-color: @color-primary-dark;
  .banner-img {
    background-size: cover;
    background: no-repeat center;
    display: block;
    margin: auto;
    height: 140px;
  }
}

.logo-banner {
  padding: @spacing/2;

  .logo {
    min-width: 300px;
    width: 60%;
    display: inline-block;
    background-size: contain;
    height: 140px;
    background: url("../images/logo.svg") no-repeat center;
  }
  img {
    height: 100px;
    margin: 20px 20px 20px 160px;
    display: inline-block;
    vertical-align: top;
  }
}

.img-inline {

}

.banner-side {
  margin-top: @spacing*2;
}

.checkout-progress-list {
  font-size: @spacing;

  dt, dd {
    line-height: @spacing*1.5;
  }
  dt {
    position: relative;
    margin: @spacing/4 0;
    padding-left: @spacing;
    text-transform: uppercase;

    &:before {
      content: '';
      position: absolute;
      left: -6px;
      top: 3px;
      width: @spacing;
      height: @spacing;
      border: 2px solid @brand-success;
      background: none;
      border-radius: 14px;
    }

    &.completed {
      &:before {
        background: @brand-success;
        border-color: @brand-success;
      }
    }
  }
  dd {
    margin-bottom: 1px;
    padding: 0 0 15px 15px;
    border-left: 2px solid @gray-lighter;
    color: @gray-lighter;
    font-size: 13px;
    &.completed {
      border-color: @brand-success;
    }
  }
}

.step-title, .checkout-progress-list {
  .btn {
    font-size: @spacing*0.8;
    padding: @spacing/8;
    margin-left: @spacing/4;
    line-height: @spacing;
    text-transform: uppercase;
  }
}

.checkout-progress {
  border-radius: 2px;
  padding-left: 0;
  color: @color-primary;

  > li {
    &:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    &:last-child {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .select-input-group {
    border-bottom: 0;
  }

  .step-title {
    padding-top: @spacing;
    padding-bottom: @spacing;
    h2 {
      font-size: 22px;
      font-weight: 600;
      display: inline-block;
      line-height: @spacing*2;
      margin-bottom: 0;
      color: @gray-light;
    }

    .number {
      position: absolute;
      left: @spacing*2;
      width: @spacing*2;
      height: @spacing*2;
      background-color: @gray-light;
      border-radius: @spacing;
      color: @text-contrast-color;
      text-align: center;
      font-weight: 500;
      font-size: @spacing;
    }
    .btn {
      margin-left: @spacing;
    }
  }

  .step {
    padding-left: @spacing*4;
    padding-right: @spacing;
    background-color: darken(white, 6%);
    color: @text-color;

    &.active {
      background-color: lighten(@text-color, 90%);
      .step-title {
        h2 {
          font-size: 24px;
          font-weight: 700;
        }
      }

      .step-content {
        display: block;
      }

      .number {
        background-color: @color-primary;
      }
    }

    &.completed {
      .number {
        background-color: @brand-success;
      }
    }

    select {
      max-width: 100%;
    }
  }

  @media (max-width: @screen-md) {
    .step-title {
      padding-left: @spacing*4;
    }

    .step {
      padding-left: @spacing;
    }
  }

  .step-content {
    padding-bottom: @spacing;
    display: none;
  }

  .shipping-methods {
    margin-bottom: @spacing/2;
  }

  .payment-method {
    height: 140px;
    overflow: auto;
    display: block;
    border: solid 2px @gray-light;
    border-radius: 2px;
    transition: all 0.2s;

    &:hover, &.active {
      border: solid 2px @color-primary;
      .title {
        background: @color-primary;
        color: @color-clear;
      }
    }

    .title {
      transition: all 0.2s;
      display: block;
      background: @gray-light;
      padding: @spacing/4 @spacing/2;
    }

    .image {
      margin: @spacing;
      display: block;
    }
  }

  ul {
    padding-left: 0;
    padding-bottom: @spacing;
  }
}

.checkout-overview {
  .receipt-wrapper {
    background: @gray-lighter;
    border-radius: 2px;
    padding: @spacing;
    color: @text-contrast-color;
  }

  @media (max-width: @screen-md) {
    .receipt-sum {
      padding-top: @spacing*2;
    }

    .receipt-sum, .receipt-vat {
      display: block;
    }
  }

  .receipt {
    min-height: @spacing*6;
    width: 100%;
    overflow: hidden;
    tr {
      vertical-align: bottom;
    }
    table {
      width: 100%;
    }
  }
  .receipt-sum {
    text-align: right;
    td {
      padding-left: @spacing;
    }
  }

  .dashboard-block {
    margin-top: @spacing*2;
  }
}

.table {
  tbody {
    tr {
      th {
        border-top: 0;
      }
      th, td {
        vertical-align: middle;
      }
    }
  }
}

.pagination a {
  color: @gray-dark;
}
.pagination > li > a, .pagination > li > span {
  border: 1px solid @gray-lighter;
}

@media (max-width: @screen-md) {
  .checkout-progress {
    .step {
      select {
        font-size: @spacing;
      }
    }
  }

  .checkout-progress-list {
    display: none;
  }

  .logo-banner {
    .logo {
      width: 70%;
    }
    img {
      margin: 40px 40px 40px 100px;
      height: 80px;
    }
  }
}

@media (max-width: @grid-float-breakpoint) {
  .block-banner-top {
    .logo {
      width: 100%;
      height: 50px;
      margin-left: 0;
      margin-right: 0;
    }
    .banner {
      width: 100%;
      height: 90px;
    }
  }

  .logo-banner {
    padding: @spacing/2;

    .logo {
      height: 80px;
    }
    img {
      margin: 10px 30px;
      height: 60px;
    }
  }
}

@import "elements/treelist";
