@import "../variables";

.dashboard-block {
  margin-bottom: @spacing;
  padding-bottom: @spacing;
  border-bottom: 1px solid @gray-lighter;

  .block-title {
    padding-bottom: 5px;
    h3 {
      font-weight: 700;
    }
  }
  .block-content {
    overflow: hidden;
  }
  &:last-child {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

#account-info {
  dt {
    float: left;
    clear: left;
    width: 90px;
    font-weight: bold;
  }
  dd {
    float: left;
  }
  .block-content {
    margin-bottom: @spacing;
  }
}

/*
ul {
  padding-left: 0;
  list-style: none;
}
*/
