@import "../variables";

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  i {
    color: white;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    i {
      color: @color-primary;
    }

    background: white;
    border: solid 2px white;
    &.btn-bg-primary {
      color: @color-primary;
    }
    &.btn-bg-secondary {
      color: @color-secondary;
    }
  }
}

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 46px;
  padding: 2px;
}

.btn {
  font-size: 16px;
}

.btn:focus {
  outline: none;
}

.btn-clear {
  background-color: transparent;
  border: none;
  &:focus {
    background-color: darken(white, 6%);
  }
}

.btn-accent {
  color: @color-clear;
  background-color: @color-accent;

  &:hover, &:focus {
    color: @color-clear;
    background-color: darken(@color-accent, 10%);
  }
}

form {
  .form-buttons {
    margin-top: @spacing;
  }
}

.btn-long {
  padding-right: @spacing*2;
  padding-left: @spacing*2;
}
