.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline i {
  color: white;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  background: white;
  border: solid 2px white;
}
.btn-outline:hover i,
.btn-outline:focus i,
.btn-outline:active i,
.btn-outline.active i {
  color: #4F5050;
}
.btn-outline:hover.btn-bg-primary,
.btn-outline:focus.btn-bg-primary,
.btn-outline:active.btn-bg-primary,
.btn-outline.active.btn-bg-primary {
  color: #4F5050;
}
.btn-outline:hover.btn-bg-secondary,
.btn-outline:focus.btn-bg-secondary,
.btn-outline:active.btn-bg-secondary,
.btn-outline.active.btn-bg-secondary {
  color: #000000;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 46px;
  padding: 2px;
}
.btn {
  font-size: 16px;
}
.btn:focus {
  outline: none;
}
.btn-clear {
  background-color: transparent;
  border: none;
}
.btn-clear:focus {
  background-color: #f0f0f0;
}
.btn-accent {
  color: white;
  background-color: #F47A20;
}
.btn-accent:hover,
.btn-accent:focus {
  color: white;
  background-color: #d6610b;
}
form .form-buttons {
  margin-top: 16px;
}
.btn-long {
  padding-right: 32px;
  padding-left: 32px;
}
