.checkbox-input {
  margin-top: 16px;
  margin-bottom: 16px;
  /* Checked */
  /* Transition */
}
.checkbox-input input[type="checkbox"],
.checkbox-input input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox-input label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.checkbox-input label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #F47A20;
  border-radius: 2px;
  z-index: -1;
}
.checkbox-input input[type="radio"] + label::before {
  border-radius: 18px;
}
.checkbox-input input[type="checkbox"]:checked + label,
.checkbox-input input[type="radio"]:checked + label {
  padding-left: 10px;
  color: white;
}
.checkbox-input input[type="checkbox"]:checked + label::before,
.checkbox-input input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #F47A20;
}
.checkbox-input label,
.checkbox-input label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
