@import "../variables";

a {
  color: @color-accent;
}

a:hover, a:focus {
  text-decoration: none;
  color: darken(@color-accent, 20%);
}

h3 {
  &.title {
    text-transform: capitalize;
    margin-top: @spacing*2;
    border-bottom: solid 4px lighten(@color-primary, 14%);
    padding-bottom: @spacing/2;
    font-size: floor(@font-size-base * 2.1);
    margin-bottom: @spacing*1.5;
    font-weight: 600;
  }
}

form {
  .form-section {
    font-weight: 700;
    margin-bottom: @spacing/2;
  }
}

.heading {
  margin-top: @spacing*2;
  h3 {
    padding-bottom: @spacing/2;
    font-size: floor(@font-size-base * 2.1);
    margin-bottom: 0;
    float: left;
    font-weight: 600;
  }

  overflow: hidden;
  border-bottom: solid 4px lighten(@color-primary, 14%);
  margin-bottom: @spacing*1.5;
}

.sub-heading {
  margin-top: @spacing/-1;
  margin-bottom: @spacing/2;
  overflow: hidden;
}

.text-light {
  color: @color-clear;
  a {
    color: lighten(@color-primary, 50%);
  }
}

h1, h2,h3 {
  margin-top: 0;
}

p {
  font-size: 20px;
}

abbr[title], abbr[data-original-title] {
  border: 0;
  cursor: default;
  font-weight: 600;
}

label {
  font-weight: 500;
  font-size: 1.5em;
}

h4 {
  margin-bottom: @spacing;
  font-size: 24px;
  font-weight: 700;
  line-height: @spacing*1.5;
}

h5 {
  font-weight: 700;
}

address {
  margin-bottom: @spacing;
}

.divider {
  height: 1px;
  background-color: @color-primary;
  padding: 0;
  margin: @spacing/2 0;
}
