@import "mixins";

@gray-lighter: lighten(#000, 93.5%);

@color-primary: #4F5050;
@color-primary-dark: darken(@navbar-default-bg, 6.5%);
@color-secondary: darken(@navbar-default-bg, 50%);
@color-accent: #F47A20;
@color-bg: @color-primary;
@input-border-focus: @color-primary;
@text-color: @color-clear;
@input-color: @color-clear;

@gray-lighter: lighten(@color-primary, 55%);
@gray-light: lighten(@color-primary, 40%);
@gray-dark: darken(@color-clear, 70%);

//@color-clear: lighten(@color-secondary, 74%);
@color-clear: white;
@brand-primary: @color-primary;
@brand-success: #5a926d;

@navbar-height: 120px;
@navbar-height-small: 76px;

@font-family-sans-serif: "ff-enzo", sans-serif;
@font-size-base: 16px;

@navbar-default-color: @color-clear;
@navbar-default-bg: @color-primary;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);

@navbar-default-link-color: @color-clear;
@navbar-default-link-hover-color: darken(@color-clear, 20%);
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @color-clear;
@navbar-default-link-active-bg: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;

@spacing: 16px;

@navbar-default-toggle-icon-bar-bg: @color-clear;

@footer-height: 352px;

@navbar-margin-bottom: 0;
