.dashboard-block {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #8c8c8c;
}
.dashboard-block .block-title {
  padding-bottom: 5px;
}
.dashboard-block .block-title h3 {
  font-weight: 700;
}
.dashboard-block .block-content {
  overflow: hidden;
}
.dashboard-block:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
#account-info dt {
  float: left;
  clear: left;
  width: 90px;
  font-weight: bold;
}
#account-info dd {
  float: left;
}
#account-info .block-content {
  margin-bottom: 16px;
}
/*
ul {
  padding-left: 0;
  list-style: none;
}
*/
