@charset "UTF-8";
@iconfont-path: "../fonts/icons";
@enzofont-path: "../fonts/ff-enzo";

@font-face {
  font-family:"ff-enzo";
  src: url("@{enzofont-path}/ff-enzo-light-normal.woff");
  font-style:normal;
  font-weight:300;
}

@font-face {
  font-family:"ff-enzo";
  src: url("@{enzofont-path}/ff-enzo-light-italic.woff");
  font-style:italic;
  font-weight:300;
}

@font-face {
  font-family:"ff-enzo";
  src: url("@{enzofont-path}/ff-enzo-medium-normal.woff");
  font-style:normal;
  font-weight:600;
}

@font-face {
  font-family:"ff-enzo";
  src: url("@{enzofont-path}/ff-enzo-medium-italic.woff");
  font-style:italic;
  font-weight:600;
}

@font-face {
  font-family:"ff-enzo";
  src: url("@{enzofont-path}/ff-enzo-bold.woff");
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family: "iconfont";
  src:url("@{iconfont-path}/iconfont.eot");
  src:url("@{iconfont-path}/iconfont.eot?#iefix") format("embedded-opentype"),
  url("@{iconfont-path}/iconfont.woff") format("woff"),
  url("@{iconfont-path}/iconfont.ttf") format("truetype"),
  url("@{iconfont-path}/iconfont.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconfont", serif !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconfont", serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\61";
}
.icon-arrow-right:before {
  content: "\62";
}
.icon-check-mark:before {
  content: "\63";
}
.icon-basket:before {
  content: "\64";
}
.icon-user:before {
  content: "\65";
}
.icon-search:before {
  content: "\66";
}
.icon-bars:before {
  content: "\67";
}
.icon-menu:before {
  content: "\68";
}
.icon-phone:before {
  content: "\69";
}
.icon-facebook:before {
  content: "\6a";
}
.icon-arrow-up:before {
  content: "\6e";
}
.icon-arrow-down:before {
  content: "\6f";
}

.icon-paypal {
  width: 52px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 -56px;
  overflow: hidden;
  display: inline-block;
}
.icon-ideal {
  width: 60px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 0;
  overflow: hidden;
  display: inline-block;
}
.icon-bank-transfer {
  width: 136px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 -112px;
  overflow: hidden;
  display: inline-block;
}
.icon-master-card {
  width: 90px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 -168px;
  overflow: hidden;
  display: inline-block;
}

.icon-maestro {
  width: 90px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 -224px;
  overflow: hidden;
  display: inline-block;
}

.icon-visa {
  width: 132px;
  height: 52px;
  background: url(../images/payment-logos.png) no-repeat 0 -280px;
  overflow: hidden;
  display: inline-block;
}
