@import "../variables";
@import "checkbox";

.floating-label-form-group {
  position: relative;
  padding-bottom: 0;
  margin-bottom: @spacing/2;
  border-bottom: 1px solid @gray-lighter;
  input,
  textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
  }
  label {
    color: @color-primary;
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
  }
  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid @gray-lighter;
  }
}

.radio label, .checkbox label {
  line-height: @spacing*1.5;
}

.floating-label-form-group-with-value {
  label {
    top: 0;
    opacity: 1;
  }
}

.floating-label-form-group-with-focus {
  label {
    color: @color-accent;
  }
}

.form-section-content {
  margin-top: @spacing*2;
  margin-bottom: @spacing*2;
}

.select-input-group {
  padding-bottom: 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #cad8ce;
  margin-top: 20px;
  select {
    font-size: 1.5em;
    margin: @spacing/2 0;
  }
  label {
    padding: @spacing/2 0;
    margin-bottom: 0;
  }

}

::-webkit-input-placeholder {
  color: lighten(@input-color, 30%);
}

:-moz-placeholder { /* Firefox 18- */
  color: lighten(@input-color, 30%);
}

::-moz-placeholder {  /* Firefox 19+ */
  color: lighten(@input-color, 30%);
}

:-ms-input-placeholder {
  color: lighten(@input-color, 30%);
}
