.checkbox-input {
  margin-top: 16px;
  margin-bottom: 16px;
  /* Checked */
  /* Transition */
}
.checkbox-input input[type="checkbox"],
.checkbox-input input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox-input label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.checkbox-input label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #1459BE;
  border-radius: 2px;
  z-index: -1;
}
.checkbox-input input[type="radio"] + label::before {
  border-radius: 18px;
}
.checkbox-input input[type="checkbox"]:checked + label,
.checkbox-input input[type="radio"]:checked + label {
  padding-left: 10px;
  color: black;
}
.checkbox-input input[type="checkbox"]:checked + label::before,
.checkbox-input input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #1459BE;
}
.checkbox-input label,
.checkbox-input label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.floating-label-form-group {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #8c8c8c;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  color: #cdcccc;
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #8c8c8c;
}
.radio label,
.checkbox label {
  line-height: 24px;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #1459BE;
}
.form-section-content {
  margin-top: 32px;
  margin-bottom: 32px;
}
.select-input-group {
  padding-bottom: 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #cad8ce;
  margin-top: 20px;
}
.select-input-group select {
  font-size: 1.5em;
  margin: 8px 0;
}
.select-input-group label {
  padding: 8px 0;
  margin-bottom: 0;
}
::-webkit-input-placeholder {
  color: #4d4d4d;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #4d4d4d;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4d4d;
}
:-ms-input-placeholder {
  color: #4d4d4d;
}
