@import "../../bower_components/bootstrap/less/variables";
@import "../variables";


.navbar-nav > li {
  font-size: 24px;
  font-weight: 300;
}

.navbar-collapse {
  max-height: 600px;
}

/*.navbar-header {
  background-size: contain;
  width: 220px;
  margin-right: @spacing;
  margin-left: @spacing/2;
  height: @navbar-height;
  background: url("../images/logo.svg") no-repeat center;
}*/

.navbar {
  min-height: @navbar-height-small;
  .box-shadow(inset 0 -4px 0 0, lighten(@heading-border-color, 14%));
  a {
    &.nav-icon {
      color: @color-accent;
      &.collapsed {
        color: @navbar-default-link-color;
      }
      &:hover {
        color: @navbar-default-link-color;
      }
    }
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
      &.nav-icon {
        color: @color-accent;
      }
    }
  }

  .nav-dropdown {
    &:hover {
      .menu-wrapper {
        display: block;
      }
    }
  }

  .menu {
    padding: @spacing/2;
    text-align: left;
    position: relative;
    background: @color-secondary;
    color: @color-clear;
    border-radius: 2px;
  }

  .nav-group-list {
    padding-left: 0;

    li {
      > a {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }

    a {
      display: block;
      padding: @spacing/2;
      color: @text-secondary-color;
      border-radius: 2px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: @color-accent;
      }
    }

    .wrapper {
      overflow: hidden;
      background: @contrast-plane-color;
      border-radius: 2px;
    }

    img {
      padding: @spacing/2;
      padding-top: @spacing;
    }

    .info {
      padding: @spacing/2;

      small {
        font-weight: bold;
        margin-bottom: 0;
        display: block;
      }
    }
  }
}

.navbar-nav > li.active a {
  .box-shadow(inset 0 -4px 0 0, @color-accent);
}

.navbar-nav > li a {
  text-transform: capitalize;
}

.hidden-xs {
  padding: 0;
}

.inline-links {
  padding: 0;
  list-style: none;
  display: inline-block;
  li {
    display: inline;
    padding: @spacing / 3;
  }
  margin-bottom: @spacing / 2;
}

.small-links {
  font-size: 12px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.shop-actions {
  height: @navbar-height;
  padding-top: @spacing / 1.5;
  padding-bottom: @spacing / 1.5;
}

.navbar-account {
  overflow: hidden;
  ul {
    float: right;
  }
}

.navbar-cart {
  display: inline-block;
  position: relative;
  z-index: 50;

  .chart-link {
    position: relative;
    display: inline-block;
    height: @spacing * 2.8;
    margin: @spacing / 4;
    padding: 0 @spacing *3 0 @spacing * 2;
    background-color: @color-primary-dark;
    color: @color-clear;
    line-height: @spacing * 2.8;
    .rounded-corners(3px);
    transition: all 0.3s;
    font-size: @spacing * 1.2;

    &::before {
      position: absolute;
      left: @spacing / 1.8;
      top: 50%;
      font-size: @spacing * 1.2;
      width: @spacing * 1.2;
      height: @spacing * 1.2;
      margin-top: @spacing * 1.2 /-2;
      line-height: @spacing * 1.2;
    }

    .cart-amount {
      position: absolute;
      right: @spacing / 1.8;
      top: 50%;
      width: @spacing * 1.8;
      height: @spacing * 1.6;
      margin-top: -13px;
      background: @color-accent;
      color: @color-clear;
      font-size: 13px;
      font-weight: normal;
      line-height: @spacing * 1.6;
      text-align: center;
      .rounded-corners(3px);

      &::before {
        content: '';
        position: absolute;
        left: -4px;
        top: 50%;
        margin-top: -5px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid @color-accent;
        border-left: none;
      }
      &.empty::before {
        border-right-color: lighten(@color-secondary, 40%);
      }

      &.empty {
        background: lighten(@color-secondary, 40%);
      }
    }
  }
  &:hover {
    .chart-link {
      border-color: lighten(@color-secondary, 40%);
    }

    .cart-items-wrapper {
      @media screen {
        @media (min-width: @grid-float-breakpoint) {
          display: block;
          opacity: 1;
        }
      }
    }
  }
  .cart-items-wrapper {
    z-index: 100;

    @media screen {
      @media (min-width: @grid-float-breakpoint) {
        display: none;
        opacity: 0;
        position: absolute;
        left: -202px;
        width: @spacing * 20;
        padding-top: @spacing * 0.6;
      }
    }

    .cart-items {
      position: relative;
      background: @color-secondary;
      color: white;

      a {
        color: white;
        :hover {
          color: darken(white, 20%);
        }
      }

      .rounded-corners(3px);

      &::before {
        @media screen {
          @media (min-width: @grid-float-breakpoint) {
            left: 80%;
            margin-left: -5px;
          }
          @media (max-width: @grid-float-breakpoint) {
            right: 145px;
          }
        }
        content: '';
        position: absolute;
        top: -6px;
        width: 0;
        height: 0;
        border-top-style: none;
        border-right: 6px solid transparent;
        border-bottom: 6px solid @color-secondary;
        border-left: 6px solid transparent;
      }

      .empty, .summary {
        padding: 15px;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 0;
      }

      .empty {
        text-align: center;
      }

      .actions {
        padding: 0 15px 15px;
      }

      .cart-label {
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
      }

      .subtotal {
      }

      #cart-item-list {
        margin-bottom: 0;
        border-top: 1px solid lighten(@color-accent, 20%);

        li {
          display: block;
          position: relative;
          min-height: 70px;
          padding: 10px 40px 10px 115px;
          border-bottom: 1px solid lighten(@color-accent, 20%);
          font-size: 13px;
          line-height: 1.35;

          .product-name {
            display: inline-block;
            color: @color-accent;
          }

          .product-image {
            position: absolute;
            left: 15px;
            top: 10px;

            img {
              width: 85px;
              height: 50px;
              .rounded-corners(2px);
            }
          }

          dl {
            font-size: 12px;
            margin: 0;

            dt {
              display: inline;
            }

            dd {
              display: inline;
              padding-right: 10px;
            }
          }
        }
      }

      ol {
        list-style: none;
        margin-bottom: 0;
        border-top: 1px solid @gray-dark;
        padding-left: 0;
      }

      li {
        min-height: 70px;
        padding: @spacing/2 @spacing*2 @spacing/2 115px;
        border-bottom: 1px solid @gray-dark;
        font-size: 13px;
        line-height: 1.35;
        position: relative;
      }

      .product-image {
        position: absolute;
        left: @spacing;
        top: @spacing/2;

        img {
          object-fit: cover;
          width: 85px;
          height: 54px;
          border-radius: 2px;
        }
      }

      dl {
        font-weight: 600;
        font-size: 12px;
        margin-bottom: 0;
        dt {
          display: inline;
        }
        dd {
          display: inline;
          padding-right: @spacing;
        }
      }

      .label-price {
        display: none;
      }

      .btn-remove {
        position: absolute;
        right: @spacing/2;
        top: 0;
        color: @color-clear;
        background-color: transparent;
        border: 0;
        font-size: @spacing*1.5;
      }

      p {
        margin-bottom: 0;
      }

      .shipment {
        padding: @spacing/2 @spacing 0;
        font-size: 16px;
      }

      .subtotal {
        padding: @spacing/4 @spacing @spacing*1.5;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }
}

.navbar-search {
  display: inline-block;
  position: relative;
  z-index: 50;

  .search-holder {
    position: relative;
    margin: 4px;
    background-color: @color-primary-dark;
    border-radius: 3px;
    width: @spacing *20;

    #webshop-search {
      background: none;
      border: 0;
      height: @spacing * 2.8;

      width: 100%;
      margin: 0;
      padding: @spacing*0.8 @spacing * 2.5 @spacing*0.8 @spacing*0.8;
      color: @color-clear;
      font-size: 18px;
    }
  }
  .icon {
    position: absolute;
    right: 0;
    font-size: @spacing * 1.2;
    width: @spacing * 2.5;
    height: 100%;
    text-shadow: none;
    vertical-align: middle;
    color: @color-clear;
    line-height: 18px;
    border: 0;
    background: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: @color-clear;
      color: @color-primary-dark;
    }
  }
}

.shop-actions-secondary {
  height: 36px;
}

.mobile-menu {
  display: none;
  float: right;
  padding: 24px @spacing;
  font-size: 24px;
  height: 70px;
  li {
    padding: 0 @spacing/2;
  }
  margin-bottom: 0;
}

footer {
  .footer-above {
    -webkit-box-shadow: inset 0 4px 0 0 lighten(@heading-border-color, 14%);
    box-shadow: inset 0 4px 0 0 lighten(@heading-border-color, 14%);

    font-size: ceil(@font-size-base * 1.1);
    padding: @spacing*2 0;
    background-color: @color-primary;
  }
  .footer-below {
    padding: @spacing*2 0;
    background-color: @color-primary-dark;
  }
}

footer, .content-wrapper:after {
  height: @footer-height;
}

.content-wrapper {
  min-height: 100%;
  margin-bottom: @footer-height * -1;

  &:after {
    content: "";
    display: block;
  }
}

@media (max-width: @grid-float-breakpoint) {
  /*.navbar-header {
    .navbar-brand {
      padding: @spacing*1.5 @spacing;
    }
    display: inline-block;
  }*/

  .mobile-menu {
    display: inline-block;
  }

  .shop-actions {
    height: auto;
    margin: 0;
    padding: 0;
  }

  .shop-actions-secondary {
    height: auto;
  }
}

@media (max-width: 1280px) {
  .navbar-nav > li > a, .navbar-brand > a {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .navbar-search .search-holder {
    width: @spacing *16;
  }

  .navbar {
    padding: 0 @spacing *2;
  }

  .navbar-header {
    margin-left: 0;
  }
}

@media (max-width: 1280px) {
  .navbar-search .search-holder {
    width: @spacing *11;
  }
}

@media (max-width: @screen-md) {
  .navbar-search .search-holder {
    width: @spacing *10;
  }

  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: @grid-float-breakpoint) {
  .navbar-header {
    width: 200px;
    height: 70px;
  }

  .nav > li > a {
    padding-left: @spacing*1.5;
    padding-right: @spacing*1.5;
  }

  .navbar-account {
    width: 100%;
    text-align: center;
    ul {
      float: none;
      font-size: @spacing;
      li {
        padding: @spacing/2 @spacing;
      }
      margin-bottom: @spacing;
    }
  }

  #navbar-cart-icon {
    display: none;
  }

  .navbar-cart {
    display: block;
    overflow: hidden;
    width: 100%;

    .cart-items-wrapper {

      .cart-items {
        margin-left: @spacing;
        margin-right: @spacing;
        margin-bottom: @spacing;
      }

      &.collapse {
        display: none;
      }

      display: block;
      width: 100%;
    }
  }

  .navbar-search {
    width: 100%;
    overflow: hidden;
    &.collapse {
      display: none;
    }

    display: block;
    padding: 0 @spacing 0 @spacing;

    .search-holder {
      width: 100%;
      margin-bottom: @spacing;
    }
  }

  .navbar-nav > li.active a {
    .box-shadow(inset 6px 0 0 0, @color-accent);
  }

  .navbar {
    .menu-wrapper {
      overflow: hidden;
    }
    .menu {
      overflow: hidden;
    }
    .nav-group-list {

      img {
        height: 90px;
        padding: @spacing/2 0 @spacing/2 @spacing/2;
      }

      .info {
        display: inline-block;
        font-size: 18px;

        small {
          display: inline;
        }
      }
    }
    .nav-dropdown {
      > a:before {
        bottom: 0;
        left: @spacing*2.5;
        z-index: 110;
        margin-left: -5px;
        width: 0;
        height: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-bottom: 6px solid @color-secondary;
        border-top: none;
        content: '';
        position: absolute;
      }
    }
  }

}

@media (max-width: @screen-xs) {
  .navbar-header {
    width: 96px;
    margin-right: 0;
  }
}

@media (min-width: @grid-float-breakpoint) {
  .navbar-account {
    display: block !important;
    height: auto !important;
  }

  .navbar {
    .nav-group-list {
      overflow: hidden;

      li {
        display: table-cell;
        float: left;
        width: 33.33%;
      }

      img {
        width: 100%;
      }
    }

    .menu-wrapper {
      top: 78px;
      padding-top: 10px;
      width: 700px;
      left: -40px;
      display: none;
      position: absolute;
      z-index: 100;
    }

    .nav-dropdown {
      &:hover {
        .menu-wrapper {
          display: block;
        }
        > a:before {
          z-index: 110;
          bottom: @spacing*2;
          margin-left: -5px;
          width: 0;
          height: 0;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          border-bottom: 6px solid @color-secondary;
          border-top: none;
          content: '';
          position: absolute;
          left: 50%;
        }
      }
    }
  }
}





