.navbar-nav > li {
  font-size: 24px;
  font-weight: 300;
}
.navbar-collapse {
  max-height: 600px;
}
/*.navbar-header {
  background-size: contain;
  width: 220px;
  margin-right: @spacing;
  margin-left: @spacing/2;
  height: @navbar-height;
  background: url("../images/logo.svg") no-repeat center;
}*/
.navbar {
  min-height: 76px;
  -webkit-box-shadow: inset 0 -4px 0 0 #242424;
  box-shadow: inset 0 -4px 0 0 #242424;
}
.navbar a {
  color: black;
}
.navbar a.nav-icon {
  color: #1459BE;
}
.navbar a.nav-icon.collapsed {
  color: black;
}
.navbar a.nav-icon:hover {
  color: black;
}
.navbar a:hover {
  color: #000000;
}
.navbar a:hover.nav-icon {
  color: #1459BE;
}
.navbar .nav-dropdown:hover .menu-wrapper {
  display: block;
}
.navbar .menu {
  padding: 8px;
  text-align: left;
  position: relative;
  background: #4e4c4c;
  color: black;
  border-radius: 2px;
}
.navbar .nav-group-list {
  padding-left: 0;
}
.navbar .nav-group-list li > a {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.navbar .nav-group-list a {
  display: block;
  padding: 8px;
  color: #333333;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}
.navbar .nav-group-list a:hover {
  background-color: #1459BE;
}
.navbar .nav-group-list .wrapper {
  overflow: hidden;
  background: white;
  border-radius: 2px;
}
.navbar .nav-group-list img {
  padding: 8px;
  padding-top: 16px;
}
.navbar .nav-group-list .info {
  padding: 8px;
}
.navbar .nav-group-list .info small {
  font-weight: bold;
  margin-bottom: 0;
  display: block;
}
.navbar-nav > li.active a {
  -webkit-box-shadow: inset 0 -4px 0 0 #1459BE;
  box-shadow: inset 0 -4px 0 0 #1459BE;
}
.navbar-nav > li a {
  text-transform: capitalize;
}
.hidden-xs {
  padding: 0;
}
.inline-links {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin-bottom: 8px;
}
.inline-links li {
  display: inline;
  padding: 5.33333333px;
}
.small-links {
  font-size: 12px;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}
.shop-actions {
  height: 120px;
  padding-top: 10.66666667px;
  padding-bottom: 10.66666667px;
}
.navbar-account {
  overflow: hidden;
}
.navbar-account ul {
  float: right;
}
.navbar-cart {
  display: inline-block;
  position: relative;
  z-index: 50;
}
.navbar-cart .chart-link {
  position: relative;
  display: inline-block;
  height: 44.8px;
  margin: 4px;
  padding: 0 48px 0 32px;
  background-color: #bdbbbb;
  color: black;
  line-height: 44.8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s;
  font-size: 19.2px;
}
.navbar-cart .chart-link::before {
  position: absolute;
  left: 8.88888889px;
  top: 50%;
  font-size: 19.2px;
  width: 19.2px;
  height: 19.2px;
  margin-top: -9.6px;
  line-height: 19.2px;
}
.navbar-cart .chart-link .cart-amount {
  position: absolute;
  right: 8.88888889px;
  top: 50%;
  width: 28.8px;
  height: 25.6px;
  margin-top: -13px;
  background: #1459BE;
  color: black;
  font-size: 13px;
  font-weight: normal;
  line-height: 25.6px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.navbar-cart .chart-link .cart-amount::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 50%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #1459BE;
  border-left: none;
}
.navbar-cart .chart-link .cart-amount.empty::before {
  border-right-color: #b4b2b2;
}
.navbar-cart .chart-link .cart-amount.empty {
  background: #b4b2b2;
}
.navbar-cart:hover .chart-link {
  border-color: #b4b2b2;
}
@media screen and (min-width: 768px) {
  .navbar-cart:hover .cart-items-wrapper {
    display: block;
    opacity: 1;
  }
}
.navbar-cart .cart-items-wrapper {
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .navbar-cart .cart-items-wrapper {
    display: none;
    opacity: 0;
    position: absolute;
    left: -202px;
    width: 320px;
    padding-top: 9.6px;
  }
}
.navbar-cart .cart-items-wrapper .cart-items {
  position: relative;
  background: #4e4c4c;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.navbar-cart .cart-items-wrapper .cart-items a {
  color: white;
}
.navbar-cart .cart-items-wrapper .cart-items a :hover {
  color: #cccccc;
}
.navbar-cart .cart-items-wrapper .cart-items::before {
  content: '';
  position: absolute;
  top: -6px;
  width: 0;
  height: 0;
  border-top-style: none;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4e4c4c;
  border-left: 6px solid transparent;
}
@media screen and (min-width: 768px) {
  .navbar-cart .cart-items-wrapper .cart-items::before {
    left: 80%;
    margin-left: -5px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-cart .cart-items-wrapper .cart-items::before {
    right: 145px;
  }
}
.navbar-cart .cart-items-wrapper .cart-items .empty,
.navbar-cart .cart-items-wrapper .cart-items .summary {
  padding: 15px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.navbar-cart .cart-items-wrapper .cart-items .empty {
  text-align: center;
}
.navbar-cart .cart-items-wrapper .cart-items .actions {
  padding: 0 15px 15px;
}
.navbar-cart .cart-items-wrapper .cart-items .cart-label {
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list {
  margin-bottom: 0;
  border-top: 1px solid #4c8dec;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li {
  display: block;
  position: relative;
  min-height: 70px;
  padding: 10px 40px 10px 115px;
  border-bottom: 1px solid #4c8dec;
  font-size: 13px;
  line-height: 1.35;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li .product-name {
  display: inline-block;
  color: #1459BE;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li .product-image {
  position: absolute;
  left: 15px;
  top: 10px;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li .product-image img {
  width: 85px;
  height: 50px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li dl {
  font-size: 12px;
  margin: 0;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li dl dt {
  display: inline;
}
.navbar-cart .cart-items-wrapper .cart-items #cart-item-list li dl dd {
  display: inline;
  padding-right: 10px;
}
.navbar-cart .cart-items-wrapper .cart-items ol {
  list-style: none;
  margin-bottom: 0;
  border-top: 1px solid #000000;
  padding-left: 0;
}
.navbar-cart .cart-items-wrapper .cart-items li {
  min-height: 70px;
  padding: 8px 32px 8px 115px;
  border-bottom: 1px solid #000000;
  font-size: 13px;
  line-height: 1.35;
  position: relative;
}
.navbar-cart .cart-items-wrapper .cart-items .product-image {
  position: absolute;
  left: 16px;
  top: 8px;
}
.navbar-cart .cart-items-wrapper .cart-items .product-image img {
  object-fit: cover;
  width: 85px;
  height: 54px;
  border-radius: 2px;
}
.navbar-cart .cart-items-wrapper .cart-items dl {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}
.navbar-cart .cart-items-wrapper .cart-items dl dt {
  display: inline;
}
.navbar-cart .cart-items-wrapper .cart-items dl dd {
  display: inline;
  padding-right: 16px;
}
.navbar-cart .cart-items-wrapper .cart-items .label-price {
  display: none;
}
.navbar-cart .cart-items-wrapper .cart-items .btn-remove {
  position: absolute;
  right: 8px;
  top: 0;
  color: black;
  background-color: transparent;
  border: 0;
  font-size: 24px;
}
.navbar-cart .cart-items-wrapper .cart-items p {
  margin-bottom: 0;
}
.navbar-cart .cart-items-wrapper .cart-items .shipment {
  padding: 8px 16px 0;
  font-size: 16px;
}
.navbar-cart .cart-items-wrapper .cart-items .subtotal {
  padding: 4px 16px 24px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.navbar-search {
  display: inline-block;
  position: relative;
  z-index: 50;
}
.navbar-search .search-holder {
  position: relative;
  margin: 4px;
  background-color: #bdbbbb;
  border-radius: 3px;
  width: 320px;
}
.navbar-search .search-holder #webshop-search {
  background: none;
  border: 0;
  height: 44.8px;
  width: 100%;
  margin: 0;
  padding: 12.8px 40px 12.8px 12.8px;
  color: black;
  font-size: 18px;
}
.navbar-search .icon {
  position: absolute;
  right: 0;
  font-size: 19.2px;
  width: 40px;
  height: 100%;
  text-shadow: none;
  vertical-align: middle;
  color: black;
  line-height: 18px;
  border: 0;
  background: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}
.navbar-search .icon:hover {
  background-color: black;
  color: #bdbbbb;
}
.shop-actions-secondary {
  height: 36px;
}
.mobile-menu {
  display: none;
  float: right;
  padding: 24px 16px;
  font-size: 24px;
  height: 70px;
  margin-bottom: 0;
}
.mobile-menu li {
  padding: 0 8px;
}
footer .footer-above {
  -webkit-box-shadow: inset 0 4px 0 0 #242424;
  box-shadow: inset 0 4px 0 0 #242424;
  font-size: 18px;
  padding: 32px 0;
  background-color: #cdcccc;
}
footer .footer-below {
  padding: 32px 0;
  background-color: #bdbbbb;
}
footer,
.content-wrapper:after {
  height: 352px;
}
.content-wrapper {
  min-height: 100%;
  margin-bottom: -352px;
}
.content-wrapper:after {
  content: "";
  display: block;
}
@media (max-width: 768px) {
  /*.navbar-header {
    .navbar-brand {
      padding: @spacing*1.5 @spacing;
    }
    display: inline-block;
  }*/
  .mobile-menu {
    display: inline-block;
  }
  .shop-actions {
    height: auto;
    margin: 0;
    padding: 0;
  }
  .shop-actions-secondary {
    height: auto;
  }
}
@media (max-width: 1280px) {
  .navbar-nav > li > a,
  .navbar-brand > a {
    font-size: 18px;
  }
}
@media (min-width: 1280px) {
  .navbar-search .search-holder {
    width: 256px;
  }
  .navbar {
    padding: 0 32px;
  }
  .navbar-header {
    margin-left: 0;
  }
}
@media (max-width: 1280px) {
  .navbar-search .search-holder {
    width: 176px;
  }
}
@media (max-width: 992px) {
  .navbar-search .search-holder {
    width: 160px;
  }
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .navbar-header {
    width: 200px;
    height: 70px;
  }
  .nav > li > a {
    padding-left: 24px;
    padding-right: 24px;
  }
  .navbar-account {
    width: 100%;
    text-align: center;
  }
  .navbar-account ul {
    float: none;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .navbar-account ul li {
    padding: 8px 16px;
  }
  #navbar-cart-icon {
    display: none;
  }
  .navbar-cart {
    display: block;
    overflow: hidden;
    width: 100%;
  }
  .navbar-cart .cart-items-wrapper {
    display: block;
    width: 100%;
  }
  .navbar-cart .cart-items-wrapper .cart-items {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }
  .navbar-cart .cart-items-wrapper.collapse {
    display: none;
  }
  .navbar-search {
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 0 16px 0 16px;
  }
  .navbar-search.collapse {
    display: none;
  }
  .navbar-search .search-holder {
    width: 100%;
    margin-bottom: 16px;
  }
  .navbar-nav > li.active a {
    -webkit-box-shadow: inset 6px 0 0 0 #1459BE;
    box-shadow: inset 6px 0 0 0 #1459BE;
  }
  .navbar .menu-wrapper {
    overflow: hidden;
  }
  .navbar .menu {
    overflow: hidden;
  }
  .navbar .nav-group-list img {
    height: 90px;
    padding: 8px 0 8px 8px;
  }
  .navbar .nav-group-list .info {
    display: inline-block;
    font-size: 18px;
  }
  .navbar .nav-group-list .info small {
    display: inline;
  }
  .navbar .nav-dropdown > a:before {
    bottom: 0;
    left: 40px;
    z-index: 110;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #4e4c4c;
    border-top: none;
    content: '';
    position: absolute;
  }
}
@media (max-width: 480px) {
  .navbar-header {
    width: 96px;
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-account {
    display: block !important;
    height: auto !important;
  }
  .navbar .nav-group-list {
    overflow: hidden;
  }
  .navbar .nav-group-list li {
    display: table-cell;
    float: left;
    width: 33.33%;
  }
  .navbar .nav-group-list img {
    width: 100%;
  }
  .navbar .menu-wrapper {
    top: 78px;
    padding-top: 10px;
    width: 700px;
    left: -40px;
    display: none;
    position: absolute;
    z-index: 100;
  }
  .navbar .nav-dropdown:hover .menu-wrapper {
    display: block;
  }
  .navbar .nav-dropdown:hover > a:before {
    z-index: 110;
    bottom: 32px;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #4e4c4c;
    border-top: none;
    content: '';
    position: absolute;
    left: 50%;
  }
}
