.treelist {
  font-size: 15px;
  padding: 0;
}
.treelist a {
  font-size: 15px!important;
  color: #1459BE;
}
.treelist a:hover {
  color: #0f4390;
}
.treelist ol {
  padding-left: 10px;
}
.treelist li {
  position: relative;
  list-style: none;
}
.treelist li input {
  display: none;
}
.treelist li input:checked {
  font-weight: bold;
}
.treelist li input:checked ~ label:before {
  content: "\6f";
}
.treelist li input:checked ~ ol {
  display: block;
}
.treelist li input:checked ~ ol label:before {
  margin-left: -4px;
}
.treelist li input:checked ~ a {
  font-weight: bold;
}
.treelist li input ~ ol {
  display: none;
}
.treelist li label {
  cursor: pointer;
  display: inline;
}
.treelist li label:before {
  font-family: "iconfont", serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\62";
  margin-left: 2px;
  font-size: 14px;
  margin-right: 2px;
}
