@import "../variables";

.treelist {
  font-size: 15px;
  padding: 0;

  a {
    font-size: 15px!important;
    color: @color-accent;
    &:hover {
      color: darken(@color-accent, 10%);
    }
  }

  ol {
    padding-left: 10px;
  }

  li {
    position: relative;
    list-style: none;

    input {
      display: none;
      &:checked {
        font-weight: bold;
        ~ label {
          &:before {
            content: "\6f";
          }
        }
        ~ ol {
          display: block;
          label {
            &:before {
              margin-left: -4px;
            }
          }
        }
        ~ a {
          font-weight: bold;
        }
      }
      ~ ol {
        display: none;
      }
    }
    label {
      &:before {
        font-family: "iconfont", serif !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: inherit;
        vertical-align: middle;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\62";
        margin-left: 2px;
        font-size: 14px;
        margin-right: 2px;
      }
      cursor: pointer;
      display: inline;
    }
  }
}
