a {
  color: #1459BE;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #0a2e62;
}
h3.title {
  text-transform: capitalize;
  margin-top: 32px;
  border-bottom: solid 4px #242424;
  padding-bottom: 8px;
  font-size: 33px;
  margin-bottom: 24px;
  font-weight: 600;
}
form .form-section {
  font-weight: 700;
  margin-bottom: 8px;
}
.heading {
  margin-top: 32px;
  overflow: hidden;
  border-bottom: solid 4px #242424;
  margin-bottom: 24px;
}
.heading h3 {
  padding-bottom: 8px;
  font-size: 33px;
  margin-bottom: 0;
  float: left;
  font-weight: 600;
}
.sub-heading {
  margin-top: -16px;
  margin-bottom: 8px;
  overflow: hidden;
}
.text-light {
  color: black;
}
.text-light a {
  color: #ffffff;
}
h1,
h2,
h3 {
  margin-top: 0;
}
p {
  font-size: 20px;
}
abbr[title],
abbr[data-original-title] {
  border: 0;
  cursor: default;
  font-weight: 600;
}
label {
  font-weight: 500;
  font-size: 1.5em;
}
h4 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
h5 {
  font-weight: 700;
}
address {
  margin-bottom: 16px;
}
.divider {
  height: 1px;
  background-color: white;
  padding: 0;
  margin: 8px 0;
}
